@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,500&family=Exo:wght@400;500;600;700;900&family=Pixelify+Sans:wght@400;700&family=Poppins:wght@500&family=Roboto:wght@100;300;700;900&family=Skranji:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
    height: auto;
}
i{
    color: #fff;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.button{
    cursor: pointer;
}
h1,h2,h3{
    color:hsl(219, 8%, 95%); 
    font-weight: 600;
}
body{
    overflow-x: hidden;

    font-family: 'Exo', sans-serif;  
    font-size: 0.938rem;
    background-color: hsl(219, 4%, 4%);
    color: hsl(219, 8%, 75%);
    background-color: #fff;
}
/*----------------home-------------------/*/
.home{
    width: 100vw;
    height: 100vh;
}
.home-img{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}
.logo-pic{
    width: 4rem;
    margin: 1rem 0 0 3rem;
}
.home-header{
    margin: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;

}
.ul-and-bars{
    display: flex;
    align-items: center;
 
}
a:hover{
    color: hsl(113, 75%, 58%);
    transition: all 200ms;
}
.home-ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
    align-items: center;
  }
.home-li{
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}
.fa-brands{
    font-size: 2rem;
}
.home-bars{display: none;}
.home-title{
    display: flex;
    position: relative;
    top: 57%;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    font-size:5rem;
    font-weight: 900;
    line-height: 1;

    
}
.black-shape{
    position: absolute;
    background:linear-gradient(rgba(0, 0, 0, 0.664) 0%, rgba(68, 68, 68, 0) 100%);;
    width: 100vw;
    height: 200px;
    left: 0;
    top: 0;
    z-index: -1;
}
/***-------------------home in phone *-----------------*/ 
@media screen and (max-width:450px){
    .home-ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 5.5rem;
        gap: 0;
        max-height: 10vh;
        left: -150%;
    }
    .home-li{
        background-color: #fff;
        height: 6vh;
        width: 100vw;
        padding: 1rem;
        border-bottom:solid 0.4px hsl(219, 8%, 75%);
        font-size: medium;
        
    }
    .home-li a{
        position: relative;
        top: -0.2rem;
    } 
    .logo-pic{margin: 0;width:3rem  ;
       

    }
    a{
        color: black;
    }
    a:hover{
        color: hsl(113, 75%, 58%);
        transition: all 100ms;
    }
    .home-ul li:last-child {
        display: none;
    }
    
    .home-bars-div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home-bars{
        background-color: #fff;
        width: 35px;
        height: 35px;
        border-radius:60% ;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .fa-bars{
        color: hsl(180, 0%, 46%);
        font-size: 60%;
    }
    .ul-and-bars{
        display: grid;
        row-gap: 1rem;
    }
    .home , .home-img{
        width: 100vw;
        height: 40vh;
        object-fit: cover;
    }
    .home-title{
        display: flex;
        position: relative;
        top: 40%;
        text-align: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 3vh;
        font-weight: 900;
    }     
    .black-shape{
        position: absolute;
        background:linear-gradient(rgb(83, 82, 82) 0%, rgba(68, 68, 68, 0) 100%);;
        width: 100vw;
        height: 50px;
        left: 0;
        top: 0;
        z-index: -1;
    }
    .fa-xmark{
        color: #000;
        font-size: small;
    }
}

/***-----------------end--home in phone *-----------------*/ 
/***-----------------about *-----------------*/ 
.card-email{
    background-color:#dcf0e1;
    margin: 4rem 0.5rem 2rem 0.5rem;
    padding: 2rem 1rem;
}
.card-email-text{
    margin-bottom: 2rem;
}
.card-email-title{
    font-size: 1.6rem;
    color: #000;
    font-weight: 400;
    margin-bottom: 0.3rem;
}
.card-email-descriptoin{
    color: #000;
}
.card-email-ipandbtn{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.card-email-input{
 padding: 1rem;
background-color: transparent;
 border: 2px solid #536942;
}
.card-email-input:focus{
    outline: none;
   border: 2px dashed #536942;
}

.card-email-button{
    padding: 1rem;
    background-color: #536942;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}
.card-email-button:hover ,.popular-button button:hover{
    transition: all 0.3s;
background-color: #88df41;
}

/***-----------------about in pc *-----------------*/ 

@media screen and (min-width:450px){

.card-email{
    display: flex;
    flex-direction: row;
    gap: 8rem;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 7rem 5rem;
    padding: 2rem;
}
.card-email-ipandbtn{
width: 50%;
height: 100%;
display: grid;
grid-template-columns: 3fr 1fr;
}
.card-email-text{
    height: 100%;
    margin: 0;
}
}
/***---------------end--about in pc *-----------------*/ 
/***-----------------popular *-----------------*/ 
.popular-title{
    color: #000;
    text-align: center;
    margin: 2rem 0;
}
.popular-div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.popular-card{
    width: 80%;
    max-height: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: #00000031 solid 1px;
    margin-bottom:1rem ;
    overflow: hidden;
}
.popular-detills-title{
    color: #000;
    margin: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s;
}
.popular-detills-title:hover{
    color: #536942;
}
.popular-detills-descriptoin{
    margin: 0rem 1rem 2rem ;
    color: #808080;
}
.popular-button button{
    background-color: #536942;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin: 0rem 1rem 1rem ;
    cursor: pointer;
    transition: all 0.3s;
    width: 150px;
  font-weight: 600;
}
.popular-card .popular-img img {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.popular-card:hover .popular-img img {
    transition-delay: 0.1s; 
    transform: scale(1.1);
}

.popular-img{
    overflow: hidden;
    max-height:210px;
}
/***-----------------popular in pc *-----------------*/ 
@media screen and (min-width:450px){
    .popular-div{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-left: 8%;
        gap: 1rem;
    }
    .popular-card{
        
        max-height: 100%;
    }
}
/***---------------end--popular in pc *-----------------*/ 
/*------------------footer----------------/*/

.footer-container{
    background-color: #eaf1ec;
    width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.footer-ul{
margin-top: 2rem;text-align: center;
}
.footer-li{
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.footer-logo img{
    margin: 1rem;
    width: 50px;
    cursor: pointer;
}
.footer-text{
    color: black;
    margin-bottom: 3rem;
    font-size: small;
}
/*------------------footer in pc----------------/*/
@media screen and (min-width:450px) {
.footer-container{
flex-direction: row;
}
.footer-li a,.footer-text{
    color: #000;
    font-size: medium;
}
.footer-ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
   position: relative;
   right:100% ;
}
.footer-logo img{
    width: 75px;
}
.footer-text{
    position: absolute;
    left: 85%;
}
}
